/* 
    Created on : 22/02/2019, 22:31:47
    Author     : rodrigo
    Verde: #13a89e
    Roxo: #4d419a
    Azul: #0f75bc
*/
body{
   font-family: futura-lt-w01-light,sans-serif
}

.sessao-login{
    width: 100%;
    height: 100vh;
    /*background: url(../Img/bg1.jpeg);*/;
}

.painel-verde{
    position: absolute;
    z-index: 1;
    border-style: solid;
    border-color: #13a89e;
    max-width: 400px;
    left: calc(50% - 168px);
    top: calc(50% - 134px);
}

.painel-verde-header, .painel-verde-footer{
    background-color: #13a89e;
    color: white;
    padding: 5px;
    text-align: center;
    min-height: 30px;
}

.cabecalho{
    background-color: #13a89e;
    color: white;
    padding: 5%;
    width: 100%;
    top: 0;
}

.cabecalho h1{text-align: center}

.cabecalho h4{float: right;}

.cabecalho span:hover{cursor: pointer;}

.rodape{
    background-color: #13a89e;
    color: white;
    padding: 20px 10px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.modal{
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    position: absolute;
}

.painel-modal{
    width: 30%;
    margin: auto;
    margin-top: 8%;
    border-color: #4d419a;
}

.painel-roxo-header, .painel-roxo-footer{
    background-color: #4d419a;
    color: white;
    padding: 5px;
    text-align: center;
    min-height: 30px;
}

.fechaModal{
    font-size: 35px;
    color: white;
    margin: 5% 0 0 90%;
}

.sessao-principal{
    padding: 8%;
}

.sessao-principal a{
    color: white;
}

ul{
    list-style-type: none;
}

.sessao-principal div{
    background-color: #0f75bc;
    color: white;
    margin: 15px;
    padding: 15px;
}

.conteudo{
    padding: 3%;
}

.conteudo h4, .conteudo h2{
    color: #666;
}

.conteudo div{
    padding: 2% 0 2% 2%;
    background-color: #0f75bc;
    color: white;
}